# Build
bin/
obj/
out/

# User Secrets (lokalūs, niekada neturi būti GitHub'e)
**/secrets.json

# Environment files
.env
*.env

# App settings (lokalūs)
appsettings.Development.json

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo

# Logs
*.log

# Docker
docker-compose.override.yml
docker-compose.*.yml
**/Dockerfile*

# OS files
.DS_Store
Thumbs.db

# Publish
publish/
